<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-edit.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Cadastro de Cirurgia | HospitalAPI</title>
</head>
<body>
    <header>
        <span class="material-symbols-outlined">medication</span>
        <a href="">Sair da Conta</a>
    </header>

    <main>
        <div class="edit-form">
            <h1>Cadastrar Funcionário</h1>
            <form action="">
                <input type="text" placeholder="Nome">
                <input type="text" placeholder="CPF">
                <select name="" id="">
                    <option value="">Selecione o sexo</option>
                    <option value="Homem">Masculino</option>
                    <option value="Mulher">Feminino</option>
                </select>

                <div>
                    <label>Data de Nascimento</label>
                    <input type="date">
                </div>
                <input type="text" placeholder="Endereço">
                <h1>Informações contratuais</h1>
                <select name="" id="">
                    <option value="-">Selecione o cargo</option>
                    <option value="Médico(a)">Médico(a)</option>
                    <option value="Enfermeiro(a)">Enfermeiro(a)</option>
                    <option value="Recepcionista">Recepcionista</option>
                    <option value="Setor da Limpeza">Setor da Limpeza</option>
                    <option value="Estagiário">Estagiário</option>
                </select>
                <input type="text" placeholder="Salário">
                <input type="text" placeholder="Carga Horária">
                <input type="text" placeholder="CTPS">
                <button type="submit">Cadastrar Funcionário</button>
            </form>
        </div>
    </main>
</body>
</html>