@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0; margin: 0;
    font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
    user-select: none;
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}

header {
    display: flex; flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.top {
    display: flex; flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  @media screen and (max-width: 600px) {
    table {
      overflow-x: auto;
      display: block;
    }
  
    th,
    td {
      white-space: nowrap;
    }
  }
  
