@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0; margin: 0;
    font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
    user-select: none;
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}

header {
    display: flex; flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 19px;
}

.choose {
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    padding: 20px;
}

.section-divs {
    display: flex; flex-direction: row;
    justify-content: center; align-items: center; text-align: center; height: 80vh;
}